body {
    font-family: Arial, sans-serif;
    background-color: #f8f0fc;
    color: #3d0d69;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #6a0dad;
    font-size: 3em;
    margin-top: 20px;
}

h2, h3 {
    color: #4a0072;
}

nav {
    background-color: #b19cd9;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav li {
    font-size: 1.2em;
    font-weight: bold;
}

nav ul li:hover {
    color: #ffffff; 
    background-color: #6a0dad; 
    padding: 5px 10px; 
    border-radius: 5px;
}

img {
    width: 80%;
    max-width: 700px;
    margin: 20px auto;
    border-radius: 15px;
}

iframe {
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid #6a0dad;
}
.about-us {
    background-color: #e3d4f1;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-us h3 {
    font-style: italic;
    font-weight: 600;
    margin-bottom: 15px;
}

.about-us p {
    font-style: italic;
    font-weight: 500;
    line-height: 1.6em;
}